@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0; /* resets browser defaults*/
  overflow: hidden; /* no scrollbars by default */
  font-size: 22px;
  background-color: #204f70;
}

h1 {
  margin-bottom: 0;
}
small {
  color: #415660;
}
p {
  margin: 0;
}

/* Content */

.content-container {
  min-height: 100vh;
  background-color: #fff3e9;
  transform-origin: 55px 100px;
  transition: transform 0.4s ease-in-out;
}
.article {
  max-width: 1000px;
  max-height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 50px;
}

.article p {
  padding: 22px 0;
}
.article img {
  max-width: 100%;
}

/* Buttons circle */

.btn-container {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: coral;
  z-index: 1;
  transition: transform 0.4s ease-out;
}

button {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 22px;
}
#open-btn {
  top: 128px;
  left: 118px;
}
#close-btn {
  top: 121px;
  left: 44px;
}

/* Navigation */

nav {
  color: #ffe8d6;
  position: fixed;
  bottom: 0;
}

li {
  list-style: none;
  padding-bottom: 22px;
  position: relative;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
}
li i {
  padding-right: 7px;
  font-size: 18px;
}

li:nth-of-type(2) {
  left: 22px;
}
li:nth-of-type(3) {
  left: 44px;
}

/* Show navigation */

.show-nav .content-container {
  transform: rotate(-20deg);
}
.show-nav .btn-container {
  transform: rotate(-90deg);
}
.show-nav nav li {
  transform: translateX(0);
}
